#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

img{
  width: 12em;
  height: 8em;
}

.card-display{
  width: 1000px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card{
  margin: 20px 30px 20px 30px;
 
  width: 12em;
  height: 8em;
  text-align: center;
  cursor: pointer;

  perspective: 1000px;
}

.card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner{
  transform: rotateY(180deg);

}

.card-front:hover, .card-back:hover{
  box-shadow: 3px 3px grey;
}

.card-front>img{
  border-radius: 10px;
}

.card-front, .card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}


.card-back{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  transform: rotateY(180deg);
  background-color: #b2edff;

}

.card-back>div{
padding: 0;
}